parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors:
	- '#array\|Kirby\\Cms\\Field#'
	- '#Call to an undefined method Kirby\\Cms\\Page::[a-z]+\(\).#'
	- '#Property [a-z0-9]+\\[a-zA-Z]+::\$[a-zA-Z]+ has no typehint specified.#'
	- '#Cannot access offset 1 on callable.#'
	- '#expects callable, array#'
	- '#Call to an undefined method Kirby\\Cms\\User::[a-z]+\(\).#'
	- '#Call to method sortBy\(\) on an unknown class [a-zA-Z\\]+.#'
	tmpDir: %rootDir%/tmp
	level: 5
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
